.charts {
  display: flex;
  justify-content: space-around;
  
}

.charts__item {
  width: 40%;
  text-align: center;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.table {
  display: flex;
}

.result {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 30px;
  margin: 20px;
  min-width: 400px;
  text-align: center;
}

.result h5 {
  margin-bottom: 0;
}

.result h2 {
  margin-top: 0;
}

.profile {
  display: flex;
}

.profile__info {
  width: 30%;
}
